<h1>Attractions#index</h1>
<p>Find me in app/views/attractions/index.html.erb</p>

<ul>
  <% @attractions.each do |att| %>
    <li>Go on <%= link_to att.name, attraction_path(att), id: "#{att.name}" %></li>
  <% end %>
</ul>