<h1>Attractions#index</h1>
<p>Find me in app/views/attractions/index.html.erb</p>

<ul>
  <% @attractions.each do |att| %>
    <% if current_user(session).admin? %>
      <li><%= link_to "Show #{att.name}", attraction_path(att) %></li>
    <% else %>
      <li><%= link_to "Go on #{att.name}", attraction_path(att), id: "#{att.name}" %></li>
    <% end %>
  <% end %>
  <li><%= link_to "New Attraction", new_attraction_path if current_user(session).admin? %></li>
</ul>